<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag asset_path('smile.png'), :rel => 'icon', :type =>  'image/png' %>
    <title>Happy Online Cinema Ticket</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navigation' %>
    <%= render 'layouts/message' %>
    <%= yield %>
  </body>
</html>
